MDCourseProject/obj/Debug
MDCourseProject.sln.DotSettings.user
MDCourseProject/bin/Debug/MDCourseProject.exe
MDCourseProject/bin/Debug/MDCourseProject.exe.config
MDCourseProject/bin/Debug/MDCourseProject.pdb
MDCourseProject/bin
MDCourseProject/obj
MDCourseProject/obj
